<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>herr is the first rendering page</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio blanditiis, quidem consectetur dolorem cumque id facere. Natus, ipsam sit consequuntur accusamus necessitatibus consequatur delectus doloremque maiores nostrum expedita minus illo tempora corrupti. Laboriosam veritatis debitis dignissimos, a fuga harum expedita tenetur minus architecto blanditiis nam?</p>
    <button>click me</button>
</body>
</html>