<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>roll dice page</h1>
    <h3>dice give the value: <%= dicevalue %></h3>
    <% if(dicevalue == 6){%>
        <h3>Nice , roll the dice again</h3>
    <% }%>
    <h3>Subjects for the Sem 4</h3>
    <% for(sub of subjects) {%>
        <li><%= sub %></li>
    <% } %>
</body>
</html>